

{% if site.email_md5 %}
<img src="//www.gravatar.com/avatar/{{ site.email_md5 }}?s=64" alt="{{ site.author }}" style="width:64px;" class="profile-pic" /> <br/>
{% endif %}

&copy; 2013 Colin McCloskey <br/><br/>

<ul id="elsewhere">
  <a href="http://github.com/"><i class="icon-github"></i></a>
  <a href="http://twitter.com/"><i class="icon-twitter"></i></a>
  <a href="http://facebook.com/"><i class="icon-facebook"></i></a>
  <a href="http://linkedin.com/"><i class="icon-linkedin"></i></a>
</ul>
